<h1>Battle!</h1>
<%= $player_1.name %> vs <%= $player_2.name %> <br>
<%= $player_1.name %>: <%= $player_1.hp %>hp || <%= $player_2.name %>: <%= $player_2.hp %>hp

<form action='/attack'>
  <input type='submit' value='Attack'>
</form>
